{% extends "base.html" %}

{% set posts = posts|default(site.posts) -%}

{% if paginator %}
    {% set posts = paginator_page.entries -%}
{% else %}
    {% set posts = posts|default(site.posts) -%}
{% endif %}

{% block content %}
<div>
    {% for post in posts %}
    <div>
        <div>
            <ul>
                <li>{{ post.date.strftime('%B %d, %Y') }}</li>
                {% for tag in post.tags %}
                <li><a href="{{ tag.url }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <a href="{{ post.url }}"><h2>{{ post.title|striptags }}</h2></a>
        
        {% if post.summary %}
            {{ post.summary }}
            <div class="readmore"><a href="{{ post.url }}">Read more&nbsp;→</a></div>
        {% else %}
            {{ post.content }}
        {% endif %}
        
        {% if not loop.last %}<hr />{% endif %}
    </div>
    {% endfor %}

    {% if paginator %}
    <div>
        <ul>
            <li>
                {% if paginator_page.previtem %}
                    <a href="{{ paginator_page.previtem.url }}">←&nbsp;Older posts</a>
                {% endif %}
            </li>

            <li>
                Page {{ paginator_page.number }} of {{ paginator.number_of_pages }}
            </li>

            <li>
                {% if paginator_page.nextitem %}
                    <a href="{{ paginator_page.nextitem.url }}">Newer posts&nbsp;→</a>
                {% endif %}
            </li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}