/* Global */
body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

a:hover {
    text-decoration: underline;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
    color: #1779ba;
}

small {
    font-size: 70%;
}

ul, ol {
    margin-left: 1.25rem;
}

ul li p {
    margin: 0;
}

ul ul {
    list-style-type: circle;
}

.inline-list {
    margin: 0 auto 1.0625rem auto;
    margin-left: -1.375rem;
    margin-right: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;;
}

.inline-list>li {
    list-style: none;
    float: left;
    margin-left: 1.375rem;
    display: block;
}

/* Grid */
.row {
    max-width: 62.5rem;
}

/* Header */
header nav ul a:hover {
   text-decoration: none;
}

header h1 {
    font-size: 2rem;
}

@media only screen and (min-width: 640px) {
    header {
        padding-top: 16px;
    }

    header h1, header nav ul {
        margin: 0;
        line-height: 24px;
    }

    header h1 {
        float: left;
    }

    header nav {
        float: right;
    }
}

/* Labels */
.label {
    font-size: 0.9em;
    padding: 0.2em 0.625em 0.2em;
    border-radius: 0;
}

.label.tag:hover, .label.category:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Docutils document */
tt.literal, pre.literal-block, span.literal {
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 85%;
    line-height: 1.45;
    background: #f5f5f5;
}

pre.literal-block {
    height: auto;
    overflow: auto;
    margin-bottom: 1em;
    padding: 0.6em 0.8em;
}

pre.literal-block code {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

span.literal {
    padding: 0.125em 0.25em;
    margin: 0;
}

a.headerlink {
    visibility: hidden;
}

h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink,
h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink {
    visibility: visible;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

table {
    border-collapse: collapse;
}

table tr th, table tr td {
    border: 1px solid #DDD;
}

table p {
    margin: 0;
}

div.line-block {
    margin-bottom: 1.25rem;
}

div.note {
    font-style: italic;
    margin-bottom: 1.25rem;
}

div.note p.admonition-title {
    display: inline;
}

div.note p.admonition-title + p {
    display: inline;
}

div.note p.admonition-title:after {
    content: ": ";
}

div.minor {
    color: gray;
    font-size: 0.9em;
}

div.system-message {
    background-color: red;
}

img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Document */
.post span.date {
    color: gray;
    font-size: 0.95em;
}

.post img, .post .media {
    margin-bottom: 2.25em;
}

.post + .post {
    margin-top: 3.75em;
}

.paginator {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.post-nav {
    padding-top: 0.5em;
}

.post-nav + footer {
    margin-top: 2.25em;
}

/* Footer */
footer {
    line-height: 64px;
    font-size: 0.8rem;
}

footer hr {
    margin: 0;
}

footer img.social {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}
